<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <main>
        <h1>Welcommen</h1>
        <form action="/login" method="POST">
            <input type="password" name="password">
            <input type="submit" value="Send">
        </form>
    </main>
</body>