<head>
    <% include ../partials/head.ejs %>
    <script src="/js/chat.js"></script>
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>
    <div>
        <div id="change_username">
            <input id="username" autocomplete="false" type="text">
            <button id="send_username" type="button">Change username</button>
        </div>
    </div>

    <div id="chatroom">
        <div id="feedback"></div>
    </div>

    <div id="input_zone" class="grid-container">
        <div class="col-11">
            <input id="message" type="text">
        </div>
        <div class="col-1">
            <button id="send_message"type="button">Send</button>
        </div>
    </div>

</body>